body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}
.container {
  margin: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.changeBtn {
  width: 80px;
  height: 80px;
  border: 2px solid black;
}
#grey {
  background-color: gray;
}
#white {
  background-color: white;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
