body {
  background-color: #212121;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
body h1 {
  color: #fff;
}
form {
  margin-top: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 2px white;
  padding: 25px 30px;
}
.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
form label {
  color: #fff;
  font-size: large;
  align-self: flex-start;
}
form input {
  padding: 8px 2px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
}
#calculate {
  padding: 4px 8px;
  background-color: rgb(250, 60, 60);
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}
#calculate:hover {
  background-color: green;
  transition: all 0.5s ease-in-out;
}
#result {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0px 2px 2px #fff;
}
.guide {
  color: #fff;
  background-color: rgb(58, 57, 57);
  margin-top: 2rem;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 2px white;
  font-family: Arial, Helvetica, sans-serif;
}
.guide:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.guide p {
  font-size: 18px;
}
